<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">


 	<context:annotation-config />
	<context:component-scan base-package="com.attendance.manage"/>
       <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/templates/"/>
          <property name="freemarkerVariables">
        <map>
          <entry key="xml_escape" value-ref="fmXmlEscape"/>
          <entry key="base" value="#{servletContext.contextPath}" />
        </map>
      </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="template_update_delay">0</prop>
                <prop key="number_format">#</prop>
                <!--  prop key="auto_import">page.ftl as page,li.ftl as li,m.ftl as m,g.ftl as g</prop>-->
            </props>
        </property>
    </bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>

	
	<bean id="dataSource"  
	        class="org.apache.commons.dbcp.BasicDataSource"  
	        destroy-method="close">
	        <property name="driverClassName"  
	            value="com.mysql.jdbc.Driver" />
	        <property name="url"  
	            value="jdbc:mysql://localhost:3306/attendance" />   
	        <property name="username" value="root" />   
	        <property name="password" value="lingcuv123" />   
	        <!-- Connection Pooling DBCP -->  
	        <property name="initialSize" value="5" />  
	        <property name="maxActive" value="100" />  
	        <property name="maxIdle" value="30" />  
	        <property name="maxWait" value="1000" />  
	        <property name="poolPreparedStatements" value="true" />  
	        <property name="defaultAutoCommit" value="false" />  
	    </bean>      
	  
	    <bean id="transactionManager"    
	         class="org.springframework.jdbc.datasource.DataSourceTransactionManager">    
	         <property name="dataSource" ref="dataSource"/>    
	    </bean>  
	   <!-- 使用注解方式的事务 -->  
	    <tx:annotation-driven transaction-manager="transactionManager" /> 	   
	   <!--mybatitas的数据库配置  -->   
	   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
	        <property name="dataSource" ref="dataSource" />  
	        <property name="configLocation" value="classpath:config/mybatis-configuration.xml"></property>
	    	<property name="typeAliasesPackage" value="com.attendance.manage.entity" />
	    </bean>  
	     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
	       <property name="basePackage" value="com.attendance.manage.dao" />  
	       <property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
	    </bean> 
    <!-- 配置使Spring采用CGLIB代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>